<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihd.mybatis.mapper.ParameterMapper">
    <!--    List<User> selectAll();-->
    <select id="selectAll" resultType="User">
        select * from t_user
    </select>

    <!--User selectUserByUsername(String username);-->
    <select id="selectUserByUsername" resultType="User">
        <!-- select * from t_user where username = #{username} -->
        select * from t_user where username = '${username}'
    </select>

    <!--User selectUserByLogin(String username, String password);-->
    <select id="selectUserByLogin" resultType="User">
        <!-- select * from t_user where username = #{arg0} and password = #{param2} -->
        select * from t_user where username = '${param1}' and password = '${param2}'
    </select>


    <!--User selectUserByMap(Map<String ,Object> map);-->
    <select id="selectUserByMap" resultType="User">
        select * from t_user where username = #{username} and password = #{password}
    </select>

</mapper>